appnope==0.1.0
beautifulsoup4==4.4.1
cffi==1.5.0
characteristic==14.3.0
cryptography==1.2.2
cssselect==0.9.1
decorator==4.0.9
demjson==2.2.4
enum34==1.1.2
fake-factory==0.5.7
gnureadline==6.3.3
gunicorn==19.4.5
html5lib==0.9999999
idna==2.0
ipaddress==1.0.16
ipython==4.1.2
ipython-genutils==0.1.0
lxml==3.5.0
mossum==0.1.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pydot==1.0.29
pyOpenSSL==0.15.1
pyparsing==2.1.1
python-dateutil==2.5.2
queuelib==1.4.2
requests==2.9.1
Scrapy==1.0.5
service-identity==14.0.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
Twisted==15.5.0
virtualenv==15.0.1
w3lib==1.13.0
zope.interface==4.1.3
