backports.functools-lru-cache==1.5
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
demjson==2.2.4
django-heroku-memcacheify==1.0.0                                                                                                                                                     
django-pylibmc==0.6.1 
dj-database-url==0.4.1
Django==1.9.6
djangorestframework==3.3.3
gunicorn==19.5.0
idna==2.7
matplotlib==2.1.0
mysql-connector==2.1.7
numpy==1.14.5
PuLP==1.6.8
pydfs-lineup-optimizer==2.0.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2017.2
requests==2.19.1
selenium==3.13.0
six==1.11.0
sportsreference==0.4.3
typing==3.6.4
urllib3==1.23
whitenoise==3.1
