<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Wolverine Sports Analytics Data</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Enter the Data Realm</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" class="headerImage">
      <div class="row">
        <a href="http://wolverinesportsanalytics.com/">
          <img src="http://i.imgur.com/dJntRRJ.jpg" class="img-responsive img-rounded center-block" id="logo" alt="Wolverine Sports Analytics">
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Members</h1>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="mailto:hbrendan@umich.edu">
              <div class="hovereffect">
                <img class="img-responsive thumbnail" src="http://i.imgur.com/I1iixZQ.jpg" alt="">
                  <div class="overlay">
                    <h2> Brendan Hart </h2>
                    <h2> President and Founder </h2>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:aneedel@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/u0siyuY.jpg" alt="">
                  <div class="overlay">
                    <h2> Alex Needelman </h2>
                    <h2> Algorithmic Lead </h2>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:pjfend@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/Ujb8rmP.jpg" alt="">
                  <div class="overlay">
                    <h2> Patrick Fendrick </h2>
                    <h2> Vice President </h2>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:jnas@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/2SD1yQH.jpg" alt="">
                  <div class="overlay">
                    <h2> Jon Nas </h2>
                    <h2> Treasurer </h2>
                  </div>
                </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:chrishil@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/QoAWrkU.jpg" alt="">
                  <div class="overlay">
                    <h2> Chris Hill </h2>
                    <h2> Hockey and Algorithmic Team </h2>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:scoury@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/5CnQl0W.jpg" alt="">
                  <div class="overlay">
                    <h2> Sam Coury </h2>
                    <h2> Baseball Strategy Lead</h2>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:jakejust@ufl.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/qbwtDPX.jpg" alt="">
                  <div class="overlay">
                    <h2> Jake Just </h2>
                    <h2> Algorithmic Team </h2>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:praneetg@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/F7XpVt0.jpg" alt="">
                  <div class="overlay">
                    <h2> Praneet Gogireddy </h2>
                    <h2> Strategy Team </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:ryankra@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/PjuZgAn.jpg" alt="">
                  <div class="overlay">
                    <h2> Ryan Krause </h2>
                    <h2> Baseball Algorithmic Lead </h2>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:jacobmey@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/zrTtKPd.jpg" alt="">
                  <div class="overlay">
                    <h2> Jacob Meyer </h2>
                    <h2> Strategy Team </h2>
                  </div>                 
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:cbgong@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/LMwZOis.jpg" alt="">
                  <div class="overlay">
                    <h2> Calvin Gong </h2>
                    <h2> Basketball and Algorithmic Team </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:bmlevine@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/6A9b83F.jpg" alt="">
                  <div class="overlay">
                    <h2> Branden Levine </h2>
                    <h2> Strategy Team Lead </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:alexthal@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/xqGS4Sl.jpg" alt="">
                  <div class="overlay">
                    <h2> Alex Thal </h2>
                    <h2> Software Team Lead </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:pjmack@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/hE76jEy.jpg" alt="">
                  <div class="overlay">
                    <h2> Peter Mack </h2>
                    <h2> Software Team </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:strellis@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/md0AOhk.jpg" alt="">
                  <div class="overlay">
                    <h2> Scott Trellis </h2>
                    <h2> Hockey and Strategy Team </h2>
                  </div>                 
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:rmordkov@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/0NVTj3R.jpg" alt="">
                  <div class="overlay">
                    <h2> Ron Mordkovich </h2>
                    <h2> Hockey and Algorithmic Team </h2>
                  </div>
                </div>                  
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:rahhalm@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/pDZZYVS.jpg" alt="">
                  <div class="overlay">
                    <h2> Michael Rahhal </h2>
                    <h2> Strategy Team </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:jslacks@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/zd4yh6n.jpg" alt="">
                  <div class="overlay">
                    <h2> Jake Lacks </h2>
                    <h2> Room Bookie </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:alexdt@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/ENu4Bom.jpg" alt="">
                  <div class="overlay">
                    <h2> Alex Tarowsky </h2>
                    <h2> Basketball Specialist </h2>
                  </div>                  
                </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="mailto:saib@umich.edu">
                <div class="hovereffect">
                  <img class="img-responsive thumbnail" src="http://i.imgur.com/2DKuE6l.jpg" alt="">
                  <div class="overlay">
                    <h2> Sai Bolla </h2>
                    <h2> Software Specialist </h2>
                  </div>                  
                </div>
              </a>
          </div>

      <hr>

      <footer>
        <p>&copy; Wolverine Sports Analytics 2016</p>
      </footer>

    </div> <!-- /container --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>

        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>       
    </body>
</html>